

﻿<div>
    <table class="table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Итоговая цена</th>
            </tr>
        </thead>
        <tbody>
            @if (Basket is not null)
            {
                @foreach (var basketItem in Basket.BasketItems)
                {
                    <tr>
                        <td>@basketItem.product.Name</td>
                        <td>@basketItem.Quantity</td> 
                        <td>@CalculateSum(basketItem.Quantity,basketItem.product.Price)</td>
                    </tr>
                }
            }           
        </tbody>
    </table>
    <button @onclick="SubmitForm" class="btn btn-primary">К оплате</button>
    <button @onclick="Cancel" class="btn btn-secondary">Отмена</button>
</div>

@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = default!;
    [Parameter] public Models.Basket.Basket? Basket { get; set; }

    async Task SubmitForm() => await ModalInstance.CloseAsync();
    async Task Cancel() => await ModalInstance.CancelAsync();

    private decimal CalculateSum(int count, decimal price)
    {
        return count * price;
    }

}