@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using eshop.Client.Pages.User.Modals
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject IModalService Modal
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <nav class="flex-row">
            <div class="top-row px-4">
                <AuthorizeView>
                    <NotAuthorized>
                        <div class="nav-item px-3">                       
                            <button class="btn btn-outline-primary" @onclick="ShowLogin">Вход</button>               
                        </div>
                        <div class="nav-item px-3">
                            <button class="btn btn-success" @onclick="ShowRegistration">Регистрация</button>
                        </div>
                    </NotAuthorized>
                    <Authorized>
                        <NavLink class="nav-link" href="/">
                            <button class="btn btn-primary" @onclick="CustomAuthenticationStateProvider.Logout">Выход</button>
                        </NavLink>
                    </Authorized>
                </AuthorizeView>
            </div>
        </nav>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void ShowLogin()
    { 
        var confirmationModal = Modal.Show<Login>("Вход");
        //var result = await confirmationModal.Result;
    }
    private void ShowRegistration()
    {
        var confirmationModal = Modal.Show<Registration>("Регистрация");
        //var result = await confirmationModal.Result;
    }
}

